*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    background-image: url(../img/background.png);
    font-family: 'Roboto', sans-serif;
    width: auto;
}

h1{
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

img{
    height: 25px;
    opacity: 0;
}

.task:hover img{
    opacity: 1;
}

.container{
    background: lightgray;
    width: 500px;
    border: none;
    border-radius: 10px;
    margin: 100px auto 0;
    padding: 30px;
}

.input-task{
    height: 40px;
    width: 300px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}

.btn-add-task{
    height: 40px;
    border: none;
    border-radius: 5px;
    float: right;
    padding: 10px;
    background-color: #2E8B57;
    cursor: pointer;
    color: white;
}


.btn-add-task:hover{
    opacity: 0.8;
}

.btn-add-task:active{
    opacity: 0.6;
}


.list-task{
    width: 100%;
    list-style: none;
    
}

.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    height: 40px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    padding: 0 15px;
    cursor: pointer;
}

.done{
    text-decoration: line-through;
    background-color: #3ae734;
}